.wrapper-alert {
    padding: 15px;
    margin-bottom: 15px;
}

.wrapper-alert > h2 {
    margin: 0px 0px 10px 0px;
}

.wrapper-alert.error {
    border: #f34141 1px solid;
}

.error > h2 {
    color: #ffc0cb
}

.wrapper-alert.success {
    border: #55f85d 1px solid;
    
}

.success > h2 {
    color: #cfff86 ;
}